:root
{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(234, 245, 236);
    color: white;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 12%;
    
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 40px;
    color: #3aa510;
}

.escola-imagem{
    width: 35%;
    color: #3aa510;
}

.escola{
    background-image: linear-gradient(#29a938ef,#3aa510);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 50%;
}
.escola-titulo{
    padding: 40.px 0;

}

.estudante{
    padding: 24px 0;
}
.estudante-imagem{
    width: 150px;
}

.estudante-icone{
    width: 150px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 70px 0;
}
.rodape{
    background-color: rgba(39, 189, 54, 0.833);
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
